#use the scripting layer to create a horizontal bar plot

df_can.sort_values(by='Total', ascending=True, inplace=True)

df_top15= df_can['Total'].tail(15)
df_top15

df_top15.plot(kind='barh',
              figsize=(12,12),
              color='steelblue')
plt.xlabel('Number of Immigrants')
plt.title('Top 15')

for index, value in  enumerate(df_top15):
    label = format(int(value), ',')
    
    plt.annotate(label, xy=(value -47000, index -0.10), color='white')
    
plt.show()

#bar plot; compare the number of icelandic immigrants

df_iceland = df_can.loc['Iceland', years]
df_iceland.head()

df_iceland.plot(kind='bar',
               figsize=(10, 6))

plt.title('Bar Icelandic Immigrants')
plt.xlabel('Year')
plt.ylabel('Number of immigrants')

plt.annotate('',
             xy=(32, 70),
             xytext=(28,20),
             xycoords='data',
             arrowprops=dict(arrowstyle='->', connectionstyle='arc3', color='blue', lw=2))

plt.show()

